@import './base.scss';
.nav-wrap {
	.nav-container {
		.banner {
			position: relative;

			width: 100%;
			height: 300px;

			background: $primary-text-color;
			.logo {
				position: absolute;
				top: 20px;
				left: 80px;

				width: 200px;

				color: $secondary-text-color;
				.logo_img {
					display: block;
					float: left;

					width: 34px;
					height: 34px;
				}
				.logo_text {
					line-height: 34px;

					padding-left: 50px;
				}
			}
			.banner-container {
				overflow: hidden;

				width: 1000px;
				height: 300px;
				margin: 0 auto;
				.left {
					float: left;
					overflow: hidden;

					width: 500px;

					$circleWidth: 300px;
					.outer {
						position: relative;

						float: right;

						width: $circleWidth;
						height: $circleWidth;

						border-radius: 50%;
						background: $primary-color-dark;
						.inter {
							width: $circleWidth * .65;
							height: $circleWidth * .65;

							border-radius: 50%;
							background: $primary-color;

							@include centerElement();
							.circle {
								width: $circleWidth * .35;
								height: $circleWidth * .35;

								border-radius: 50%;
								background: white;

								@include centerElement();
							}
						}
					}
				}
				.right {
					float: right;

					width: 500px;

					color: $secondary-text-color;
					.text-wrap {
						padding-left: 40px;
						h4.title {
							font-size: 40px;
							line-height: 54px;

							padding-top: 140px;

							letter-spacing: -1.25px;
						}
						p.description {
							font-size: 18px;
							line-height: 24px;

							letter-spacing: 0;
						}
					}
				}
			}
		}
	}
}
.tabs-wrap {
	border-bottom: 1px solid $divider-color;
	background: $primary-color;
	box-shadow: rgba(0, 0, 0, .117647) 0 1px 6px, rgba(0, 0, 0, .117647) 0 1px 4px;
	.tabs-container {
		width: 1000px;
		margin: 0 auto;
	}
}
