@import 'base.scss';

.sidebar-wrap {
	text-align: center;
	.avatar-wrap {
		text-align: center;

		border-bottom: 1px solid $divider-color;
		background: $primary-color-dark;
		.avatar {
			margin: 20px auto;
		}
		p.name {
			font-weight: 800;

			padding-bottom: 10px;

			@include textStyle(25px, 30px, white);
		}
		p.word {
			padding-bottom: 30px;

			@include textStyle(14px, null, white);
		}
	}
	.introduce-zh,
	.summary {
		margin-top: 30px;
		padding: 0 50px;

		@include textStyle();
	}
	.introduce-en {
		margin-top: 5px;
		padding: 0 20px;

		@include textStyle(14px);
	}
	.contact {
		.email {
			margin-top: 20px;

			@include textStyle();
		}
		.btn-github {
			margin-top: 20px;
		}
	}
	@mixin transitions($delay) {
		transition: opacity .4s ease $delay, transform .4s ease $delay;
	}
	.introduce-zh {
		@include transitions(.25s);
	}
	.introduce-en {
		@include transitions(.3s);
	}
	.summary {
		@include transitions(.35s);
	}
	.contact .email {
		@include transitions(.4s);
	}
	.contact .btn-github {
		@include transitions(.45s);
	}
	.introduce-zh,
	.introduce-en,
	.summary,
	.contact .email,
	.contact .btn-github {
		transform: translateY(-30px);

		opacity: 0;
	}
}
.sidebar-wrap[data-status='active'] {
	.introduce-zh,
	.introduce-en,
	.summary,
	.contact .email,
	.contact .btn-github {
		transform: translateY(0);

		opacity: 1;
	}
}
.sidebar-toggle {
	line-height: 0;

	position: fixed;
	z-index: 1400;
	bottom: 5px;

	width: 15px;
	height: 18px;
	padding: 5px;

	cursor: pointer;
	transition: all .4s;

	background: $accent-color;
	.sidebar-toggle-line {
		position: relative;

		display: inline-block;

		width: 100%;
		height: 2px;
		margin-top: 3px;

		transition: all .3s;
		vertical-align: top;

		opacity: 1;
		background: #fff;
	}
}
.sidebar-toggle[data-status='none'] {
	right: 265px;
	&:hover {
		.sidebar-toggle-line:first-child {
			top: 2px;

			width: 50%;

			transform: rotateZ(-45deg);
		}
		.sidebar-toggle-line:last-child {
			top: -2px;

			width: 50%;

			transform: rotateZ(45deg);
		}
	}
}
.sidebar-toggle[data-status='active'] {
	right: 265px;
	.sidebar-toggle-line:first-child {
		top: 5px;

		transform: rotateZ(-45deg);
	}
	.sidebar-toggle-line:nth-child(2) {
		opacity: 0;
	}
	.sidebar-toggle-line:last-child {
		top: -5px;

		transform: rotateZ(45deg);
	}
}
